* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Arial, sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
}

.account-details-header {
    background: linear-gradient(45deg, #ee0979, #ff6a00);
}

.account, .account-details-header, .account-balance, .account-link, .subtitle, .credit-transaction, .debit-transaction, .loan, .welcome {
    color: white;
}

.account, .loan {
    background: linear-gradient(45deg, #ee0979, #ff6a00);
}

.loan {
    background: linear-gradient(45deg, #ee09cf, #0026ff);
}

.menu-logo {
    width: 100px;
    height: 40px;
}

.welcome {
    background: linear-gradient(45deg, #ee0979, #ff6a00);
}

.welcome-logo {
    width: 60%;
}

.index-body {
    background-image: url(../img/avila.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.index-container {
    margin-top: 10%;
}